.sidebar {
  transition: var(--transition);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 10001;
  background-color: var(--pure-white);
  min-width: 350px;
}

.sidebar.open {
  transform: translateX(0);
  box-shadow: var(--shadow);
}

.sidebar h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

.sidebar-content {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}

.toggle-button {
  background-color: var(--pure-white);
  color: var(--font-dark);
  position: absolute;
  left: calc(100% - 1px);
  bottom: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 0 50px 50px 0;
  box-shadow: var(--shadow);
  cursor: pointer;
  clip-path: inset(-7px -7px -7px 0);
}

.toggle-button .chevron {
  transition: var(--transition);
}

.sidebar.open .toggle-button .chevron {
  transform: rotate(180deg) translateX(3px);
}