.checkout-receipt {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checkout-receipt h2, p {
  margin: 0 0 30px 0;
}

.done-button {
  font-family: var(--font);
  font-size: 16px;
  border: none;
  color: var(--pure-white);
  background-color: var(--dark-blue);
  align-self: flex-end;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.done-button:hover {
  background-color: var(--focused-dark-blue);
}